table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table td:hover {
  background-color: #f5f5f5;
}


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.not-link {
  text-decoration: none;
  font-weight: bold;
}

.not-link:hover {
  text-decoration: underline;
}

/*UPDATE TABLE STYLE*/

#custom_table {
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: medium;
}

#custom_table tr,
#custom_table td,
#custom_table th {
  border: 1px solid #ddd;
  width: 40%;
  padding: 3px;
  text-align: center;
}

#custom_table input,
#custom_table select {
  width: 100%;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  text-align: center;
  padding: 8px;
  font-size: medium;
}

#custom_table input:hover {
  background-color: #f2f2f2;
}

.button {
  display: block;
  padding: 8px 16px;
  margin: 10px auto;
  width: auto;

}

#calendar {
  width: 100%;
}

#calendar td,
#calendar th,
#calendar tr {
  width: 13%;
  text-align: center;
}
