{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'agenda_app/css/style.css' %}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<h2>Create Calendar</h2>

<form method="post">
    {% csrf_token %}
    <table id="custom_table">
        {{ form.checked.as_hidden }}
        <tr>
            <td>Name</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>Color</td>
            <td>{{ form.color }}</td>
        </tr>
    </table>
    <input type="submit" value="Create" class="button">
</form>