{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'agenda_app/css/style.css' %}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<h2>Month : {{ month }} {{ year }}</h2>

<form method="get">
    <select name="month">
        <option value="1" {% if month == "January" %}selected{% endif %}>January</option>
        <option value="2" {% if month == "February" %}selected{% endif %}>February</option>
        <option value="3" {% if month == "March" %}selected{% endif %}>March</option>
        <option value="4" {% if month == "April" %}selected{% endif %}>April</option>
        <option value="5" {% if month == "May" %}selected{% endif %}>May</option>
        <option value="6" {% if month == "June" %}selected{% endif %}>June</option>
        <option value="7" {% if month == "July" %}selected{% endif %}>July</option>
        <option value="8" {% if month == "August" %}selected{% endif %}>August</option>
        <option value="9" {% if month == "September" %}selected{% endif %}>September</option>
        <option value="10" {% if month == "October" %}selected{% endif %}>October</option>
        <option value="11" {% if month == "November" %}selected{% endif %}>November</option>
        <option value="12" {% if month == "December" %}selected{% endif %}>December</option>
    </select>
    <input type="text" name="year" value="{{ year }}">
    <input type="submit" value="Submit">
</form>

<a href="{% url 'change_month' 'minus' month_number year %}"><-- Previous Month</a>
<a href="{% url 'change_month' 'plus' month_number year %}">Next Month --></a>


<form id="myForm" method="post">
    {% csrf_token %}
    {% for calendar in calendars %}
    <input type="checkbox" name="calendar_form" value="{{ calendar.id }}" {% if calendar.checked == True %}checked{% endif %} onchange="handleCheckboxChange(this);">
    <a class="not-link" style="color: {{calendar.color }};" href="{% url 'update_calendar' calendar.id %}">{{ calendar.name }}</a>
    {% endfor %}
</form>

<script>
    function handleCheckboxChange(checkbox) {
        document.getElementById('myForm').submit();
    }
</script>


<table id="calendar">
    <thead>
        <td>D</td>
        <td>L</td>
        <td>M</td>
        <td>M</td>
        <td>J</td>
        <td>V</td>
        <td>S</td>
    </thead>
    <tbody>
        {% for week in weeks_list %}
            {% if week %}
                <tr>
                    {% for day in week %}
                        {% for key, value in day.items %}
                            <td>{{ key }}
                            {% for event in events %}
                                {% if event.date.day == key %}
                                <br><a href="{% url 'event_detail' event.id %}" class="not-link" {% if event.color == "Default" %}style="color: {{event.calendar.color}};"{% else %}style="color: {{event.color}};"{% endif %} style="font-size: 10px;">{{ event.name|slice:":6" }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                            </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}

    </tbody>
</table>

<!-- Modal -->
<div id="eventModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p id="eventModalBody">Event details will be inserted here</p>
    </div>
  </div>


<a href="{% url 'create_event' %}">Create Event</a>
<a href="{% url 'create_calendar' %}">Create Calendar</a>